<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img src="Public/Admin/image/user.png" class="img-thumbnail" />

                    <div class="inner-text">
                        Jhon Deo Alex
                        <br />
                        <small>Last Login : 2 Weeks Ago </small>
                    </div>
                </div>

            </li>


            <li>
                <a class="active-menu" href="index.php?p=Admin&c=Index&a=index"><i class="fa fa-dashboard "></i>首页</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop "></i>会员管理 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-toggle-on"></i>会员列表</a>
                    </li>
                    <li>
                        <a href="index.php?p=Admin&c=Bumen&a=index"><i class="fa fa-bell "></i>部门分类</a>
                    </li>
                    <li>
                        <a href="index.php?p=Admin&c=Members&a=index"><i class="fa fa-circle-o "></i>员工管理</a>
                    </li>
                    <li>
                        <a href="index.php?p=Admin&c=Order&a=index"><i class="fa fa-code "></i>预约管理</a>
                    </li>
                    <li>
                        <a href="icons.html"><i class="fa fa-bug "></i>取消预约</a>
                    </li>
                    <li>
                        <a href="wizard.html"><i class="fa fa-bug "></i>未完成订单</a>
                    </li>
                    <li>
                        <a href="typography.html"><i class="fa fa-edit "></i>完成订单</a>
                    </li>



                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-yelp "></i>店铺管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="invoice.html"><i class="fa fa-coffee"></i>代金券</a>
                    </li>
                    <li>
                        <a href="index.php?p=Admin&c=Vip&a=index"><i class="fa fa-flash "></i>Vip</a>
                    </li>
                    <li>
                        <a href="component.html"><i class="fa fa-key "></i>充值活动</a>
                    </li>
                    <li>
                        <a href="social.html"><i class="fa fa-send "></i>商城管理</a>
                    </li>

                    <li>
                        <a href="message-task.html"><i class="fa fa-recycle "></i>商城订单</a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="table.html"><i class="fa fa-flash "></i>套餐管理 </a>

            </li>
            <li>
                <a href="index.php?p=Admin&c=Article&a=add"><i class="fa fa-bicycle "></i>发布活动 <span class="fa arrow"></span></a>

            </li>
            <li>
                <a href="index.php?p=Admin&c=Article&a=index"><i class="fa fa-anchor "></i>管理活动</a>
            </li>
            <li>
                <a href="error.html"><i class="fa fa-bug "></i>排行榜</a>
            </li>
            <li>
                <a href="index.php?p=Admin&c=Login&a=logout"><i class="fa fa-sign-in "></i>注销</a>
            </li>



        </ul>

    </div>

</nav>
<div id="page-wrapper">